<div class = "create-view">
  <div class = "create-box">
    <p class = "create-font">削除が完了しました</p>
  </div>

  <div class = "create-box">
    <a class = "create-font" href='/'>トップページへ戻る</a>
  </div>
</div>