
<div class = "main">
  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>
</div>