
<%= image_tag tweet.image.variant(resize: '500x500'), class: 'tweet-image' if message.image.attached? %>

<div class = "main">
  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>

  <div class = "main-1">
    <div class = "main-2"></div>
    <p class = "title">title</p>
  </div>
</div>