// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// favorite.scss

.favorite-btn {
  color: #808080;
  font-size: 20px;
}
 
.unfavorite-btn {
  color: #e54747;
  font-size: 20px;
}

// favorite.scss