
/* header.SCSS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 55px;
  border: 1px solid #555;
  background-color: #A39391;
}

.header-left {
  // background-color: burlywood;
}

.search {
  background-color: aquamarine;
}

.header-right {
  background-color: #cd5c5c;
}

.header-logo {
  // margin: 0.5em;
  margin: 0.5em 0.5em 0.5em 3em;
}

.header-logo a {
  color: #E79686;
  font-size: 2vw;
  font-size: clamp(13px, 2vw, 23px);
  text-decoration: none;
  text-shadow: 1px 1px 1px #000;

  @media (min-width: 600px) {
    width: 6vw;
    min-width: 70px;
  }

  @media (min-width: 1025px) {
    max-width: 80px;
  }
}

.search-form{
  display: flex;
} 

.search-input {
  width: 30vw;
  height: 30px;
  border: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 30px;
  border: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 1em;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  font-size: 10px;
  font-size: clamp(10px, 1vw, 13px);
  text-decoration: none;

  @media (min-width: 600px) {
    width: 6vw;
    min-width: 70px;
  }

  @media (min-width: 1025px) {
    max-width: 80px;
  }
}

.user {
  width: 45px;
  height: 45px;
  margin: 15px;
  border: 1px solid #ddd;
  background-color: #716E77;
}

/* header.SCSS */


/* header-nav.SCSS */

#nav {
  position: absolute;
  width: 40%;
  height: 100vh;
  top: 0;
  left: -40%;
  background: #fff;
  transition: .6s;
}

#nav ul {
  padding-top: 80px;
}

.nav-li {
  display: block;
  margin: 0 15px;
  padding: 10px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;

  &:hover {
  border-bottom: none;
  background-color: #888;
  color: #fff;
  }
}

#hamburger {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 13px;
  left: 13px;
  cursor: pointer;
  transition: .5s;
}

.inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: .5s;
  border-radius: 4px;
}

#line1 {
  top: 4px;
}
#line2 {
  top: 14px;
}
#line3 {
  bottom: 4px;
}

.in {
  transform: translateX(100%);
}

.line_1,.line_2,.line_3 {
  background: #000;
}

.line_1 {
  transform: translateY(10px) rotate(-45deg);
  top: 0;
}
.line_2 {
  opacity: 0;
}
.line_3 {
  transform: translateY(-10px) rotate(45deg);
  bottom: 0;
}

/* header-nav.SCSS */