// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* トップページ.SCSS */

.tweet-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 0.8em;
  padding: 1.2em 0.8em;

  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.tweet-box {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

  @media (min-width: 600px) {
    max-width: 30vw;
  }
  
  @media (min-width: 1025px) {
    max-width: 33vw;
  }
}

.tweet-image {
  display: flex;
  justify-content: center;
  img {
    width: 32vw;
    height: auto;
    border: 1px solid #444;
  }

  @media (min-width: 600px) {
    img {
      width: 20vw;
    }
  }

  @media (min-width: 1025px) {
    img {
      max-width: 270px;
    }
  }
}

.tweet-name {
  padding: 0 0.5em;
  color: #333;
  font-size: min(15px, 1.1vw);
  text-decoration: none;
  &:hover {
    color: #888;
  }
}

.tweet-title {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  color: #111;
  font-size: min(17px, 1.3vw);
  text-decoration: none;
}

/* トップページ.SCSS */


/* 新規投稿ページ.SCSS */

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 80%;
}

.container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-box h3 {
  margin-bottom: 5px;
  font-size: 15px;
}

.container-li {
  height: 60px;
  margin-bottom: 5px;
}

.container-comment {
  width: 600x;
  height: 280px;
  margin-bottom: 5px;
}

.container-post {
  display: flex;
  justify-content: flex-end;
}

.container-post input{
  cursor: pointer;
}

.must-container {
  border-radius: 3px;
  background-color: red;
  color: #fff;
  font-size: 15px;
}

/* 新規投稿ページ.SCSS */


/* 投稿詳細ページ用CSS */

/* 投稿詳細ページ用CSS */